Repository ni/systemlink-grafana-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @m-akinc, @cameronwaterman, @chris468, @BKnight760, @rbell517, @jattasNI, @prestwick, @CiprianAnton, @kkerezsi, @saradei-ni, @richie-ni, @hemkumarrao-ni, @priya-ni, @ushakanagaraj-ni, @kartheeswaran-ni

.github/CODEOWNERS:

* @rajsite @m-akinc @cameronwaterman

/.snyk @chris468 @cameronwaterman @BKnight760 @rbell517 @jattasNI @prestwick

/src/datasources/notebook @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/tag @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/asset @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/asset-common @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/products @richie-ni @hemkumarrao-ni
/src/datasources/results @richie-ni @hemkumarrao-ni
/src/datasources/work-orders @priya-ni @hemkumarrao-ni @ushakanagaraj-ni
/src/datasources/test-plans @priya-ni @hemkumarrao-ni @ushakanagaraj-ni
/src/datasources/alarms @hemkumarrao-ni @kartheeswaran-ni @ushakanagaraj-ni
/src/datasources/data-frame @hemkumarrao-ni @kartheeswaran-ni @ushakanagaraj-ni @cameronwaterman

update the test and code comment
  src/core/utils.test.ts
  src/core/utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

added fix for return type
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/AssetDataSource.ts
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/defaults.ts
  src/datasources/asset/types/AssetVariableQuery.types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

Add Asset Identifier to asset filters
  src/datasources/asset/components/editors/calibration-forecast/query-builder/CalibrationForecastQueryBuilder.test.tsx
  src/datasources/asset/components/editors/list-assets/query-builder/AssetQueryBuilder.test.tsx
  src/datasources/asset/constants/CalibrationForecastQuery.constants.ts
  src/datasources/asset/constants/ListAssets.constants.ts
  src/datasources/asset/constants/constants.ts
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.test.ts
  src/datasources/asset/data-sources/list-assets/__snapshots__/ListAssetsDataSource.test.ts.snap
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

fix(utils-tests): fix random unit test failure (#426)
  src/core/utils.test.ts
  src/core/utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

chore(release): 4.19.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @m-akinc, @cameronwaterman

Notes added by 'git notes add'
  f873828c67999d4779c1e94b262d39eeb1d816b6
Owners: @rajsite, @m-akinc, @cameronwaterman

feat(api-session): Enhance ApiSessionUtils with session caching and ingress support | with failing tests
  src/core/DataSourceBase.ts
  src/core/api-session.utils.spec.ts
  src/core/api-session.utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

refactor: Update import paths for DataFrameDataSourceV1 and remove unused DataFrameDataSourceV2
  src/datasources/data-frame/components/v1/DataFrameQueryEditorCommonV1.tsx
  src/datasources/data-frame/components/v1/DataFrameVariableQueryEditorV1.test.tsx
  src/datasources/data-frame/datasources/v2/DataFrameDataSourceV2.test.ts
  src/datasources/data-frame/datasources/v2/DataFrameDataSourceV2.ts
  src/datasources/data-frame/types.ts
Owners: @hemkumarrao-ni, @kartheeswaran-ni, @ushakanagaraj-ni, @cameronwaterman

fix: Restore import of LEGACY_METADATA_TYPE in DataFrameDataSourceV1 test
  src/datasources/data-frame/datasources/v1/DataFrameDataSourceV1.test.ts
Owners: @hemkumarrao-ni, @kartheeswaran-ni, @ushakanagaraj-ni, @cameronwaterman

update the code comment
  src/core/utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

fix(assets): Add Asset Identifier to filters (#438)
  src/datasources/asset/components/editors/calibration-forecast/query-builder/CalibrationForecastQueryBuilder.test.tsx
  src/datasources/asset/components/editors/list-assets/query-builder/AssetQueryBuilder.test.tsx
  src/datasources/asset/constants/CalibrationForecastQuery.constants.ts
  src/datasources/asset/constants/ListAssets.constants.ts
  src/datasources/asset/constants/constants.ts
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.test.ts
  src/datasources/asset/data-sources/list-assets/__snapshots__/ListAssetsDataSource.test.ts.snap
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

chore(release): 4.19.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @m-akinc, @cameronwaterman

Notes added by 'git notes add'
  af0e0ad8cc2c3cf05f707d7f2372455b8a099030
Owners: @rajsite, @m-akinc, @cameronwaterman

update the code comment
  src/core/utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

Add DataFrameDataSourceV2 implementation and tests
  src/datasources/data-frame/datasources/v2/DataFrameDataSourceV2.test.ts
  src/datasources/data-frame/datasources/v2/DataFrameDataSourceV2.ts
  src/datasources/data-frame/types.ts
Owners: @hemkumarrao-ni, @kartheeswaran-ni, @ushakanagaraj-ni, @cameronwaterman

refactor(dataframe): Refactor DataFrame Data Source to V1 (#436)
  src/datasources/data-frame/DataFrameDataSourceV1.test.ts
  src/datasources/data-frame/DataFrameDataSourceV1.ts
  src/datasources/data-frame/components/DataFrameQueryEditorWrapper.test.tsx
  src/datasources/data-frame/components/DataFrameVariableQueryEditorWrapper.test.tsx
  src/datasources/data-frame/components/v1/DataFrameQueryEditorCommonV1.tsx
  src/datasources/data-frame/components/v1/DataFrameVariableQueryEditorV1.test.tsx
  src/datasources/data-frame/components/v2/DataFrameQueryEditorV2.test.tsx
  src/datasources/data-frame/module.ts
  src/datasources/data-frame/types.ts
Owners: @hemkumarrao-ni, @kartheeswaran-ni, @ushakanagaraj-ni, @cameronwaterman

refactor(dataframe): Update DataFrame queries to use version 1 types
  src/datasources/data-frame/DataFrameDataSourceV1.test.ts
  src/datasources/data-frame/DataFrameDataSourceV1.ts
Owners: @hemkumarrao-ni, @kartheeswaran-ni, @ushakanagaraj-ni, @cameronwaterman
