Repository ni/systemlink-grafana-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @atmgrifter00, @cameronwaterman, @CiprianAnton, @kkerezsi, @richie-ni, @ranjgith-ni, @priya-ni, @ushakanagaraj-ni

.github/CODEOWNERS:

* @rajsite @atmgrifter00 @cameronwaterman

/src/datasources/asset @CiprianAnton @kkerezsi
/src/datasources/products @richie-ni @ranjgith-ni
/src/datasources/results @richie-ni @ranjgith-ni
/src/datasources/work-orders @priya-ni @ranjgith-ni @ushakanagaraj-ni
/src/datasources/test-plans @priya-ni @ranjgith-ni @ushakanagaraj-ni

added tooltips for qbs
  src/datasources/results/components/editors/query-results/QueryResultsEditor.tsx
  src/datasources/results/components/query-builders/steps-querybuilder-wrapper/StepsQueryBuilderWrapper.tsx
Owners: @richie-ni, @ranjgith-ni

updated tooltip for results
  src/datasources/results/components/editors/query-results/QueryResultsEditor.tsx
Owners: @richie-ni, @ranjgith-ni

add proeprties to test plans
  src/datasources/test-plans/TestPlansDataSource.ts
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
  src/datasources/test-plans/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add test
  src/datasources/test-plans/TestPlansDataSource.test.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

feat(results): enhance metricFindQuery to accept ResultsVariableQuery type and update related tests
  src/datasources/results/ResultsDataSource.test.ts
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.test.tsx
  src/datasources/results/query-handlers/query-results/QueryResultsDataSource.test.ts
  src/datasources/results/query-handlers/query-results/QueryResultsDataSource.ts
Owners: @richie-ni, @ranjgith-ni

address comments
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add orderby & descending
  src/datasources/test-plans/components/TestPlansQueryEditor.scss
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
  src/datasources/test-plans/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add default query
  src/datasources/test-plans/TestPlansDataSource.test.ts
  src/datasources/test-plans/TestPlansDataSource.ts
  src/datasources/test-plans/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

update width
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add take control
  src/datasources/test-plans/TestPlansDataSource.test.ts
  src/datasources/test-plans/TestPlansDataSource.ts
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
  src/datasources/test-plans/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add test
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

Changes for Grafana 11.
  src/core/DataSourceBase.ts
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/data-sources/calibration-forecast/CalibrationForecastDataSource.test.ts
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.test.ts
  src/datasources/data-frame/DataFrameDataSource.test.ts
  src/datasources/products/ProductsDataSource.test.ts
  src/datasources/results/query-handlers/query-results/QueryResultsDataSource.test.ts
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.test.ts
  src/datasources/system/SystemDataSource.test.ts
  src/datasources/tag/TagDataSource.test.ts
  src/datasources/workspace/WorkspaceDataSource.test.ts
  src/datasources/workspace/WorkspaceDataSource.ts
  src/datasources/workspace/types.ts
Owners: @rajsite, @atmgrifter00, @cameronwaterman, @CiprianAnton, @kkerezsi, @richie-ni, @ranjgith-ni

Target Grafana 11 for Docker.
  .config/Dockerfile
  docker-compose.yaml
Owners: @rajsite, @atmgrifter00, @cameronwaterman

Build fix.
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.test.ts
Owners: @richie-ni, @ranjgith-ni

Fix build.
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.test.ts
Owners: @richie-ni, @ranjgith-ni

fix(results): update ResultsVariableProperties to use uppercase constants
  src/datasources/results/types/QueryResults.types.ts
Owners: @richie-ni, @ranjgith-ni

refactor(tests): streamline mockQuery and mockResponse in metricFindQuery tests
  src/datasources/results/ResultsDataSource.test.ts
Owners: @richie-ni, @ranjgith-ni

re-render steps paths array
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.ts
Owners: @richie-ni, @ranjgith-ni

rerender steps path new method
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.ts
Owners: @richie-ni, @ranjgith-ni

removed optional sentence for results query builder in steps
  src/datasources/results/components/query-builders/steps-querybuilder-wrapper/StepsQueryBuilderWrapper.tsx
Owners: @richie-ni, @ranjgith-ni

added method to call query path
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.ts
Owners: @richie-ni, @ranjgith-ni

added constant
  src/datasources/results/constants/QueryPaths.constants.ts
  src/datasources/results/query-handlers/query-steps/QueryStepsDataSource.ts
Owners: @richie-ni, @ranjgith-ni

add query builder
  src/datasources/work-orders/components/WorkOrdersQueryEditor.tsx
  src/datasources/work-orders/components/query-builder/WorkOrdersQueryBuilder.tsx
  src/datasources/work-orders/constants/WorkOrdersQueryBuilder.constants.ts
  src/datasources/work-orders/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

init
  src/datasources/test-plans/TestPlansDataSource.test.ts
  src/datasources/test-plans/TestPlansDataSource.ts
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
  src/datasources/test-plans/types.ts
  src/datasources/test-plans/utils.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

address comment
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

feat: add properties to test plans query editor (#186)
  src/datasources/test-plans/TestPlansDataSource.test.ts
  src/datasources/test-plans/TestPlansDataSource.ts
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
  src/datasources/test-plans/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

chore(release): 3.69.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @atmgrifter00, @cameronwaterman

Notes added by 'git notes add'
  64ecf2b8ba6b8697b4fa37c8bb874bbb4439ca32
Owners: @rajsite, @atmgrifter00, @cameronwaterman

update text
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

resolve conflict
  src/datasources/test-plans/components/TestPlansQueryEditor.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

update test
  src/datasources/test-plans/components/TestPlansQueryEditor.test.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

fix(tooltips): update tooltip text for queryBy and properties fields in ResultsVariableQueryEditor
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.tsx
Owners: @richie-ni, @ranjgith-ni

feat(query-editor): enhance ProductsQueryEditor to call onRunQuery on mount and update tests
  src/datasources/products/components/ProductsQueryEditor.test.ts
  src/datasources/products/components/ProductsQueryEditor.tsx
Owners: @richie-ni, @ranjgith-ni

test(ProductsQueryEditor): update test description to clarify onRunQuery behavior
  src/datasources/products/components/ProductsQueryEditor.test.ts
Owners: @richie-ni, @ranjgith-ni

addressed comments
  src/datasources/results/components/editors/query-results/QueryResultsEditor.tsx
  src/datasources/results/components/query-builders/steps-querybuilder-wrapper/StepsQueryBuilderWrapper.tsx
Owners: @richie-ni, @ranjgith-ni

feat(results): Add tooltip for results and steps query builder (#185)
  src/datasources/results/components/editors/query-results/QueryResultsEditor.tsx
  src/datasources/results/components/query-builders/steps-querybuilder-wrapper/StepsQueryBuilderWrapper.tsx
Owners: @richie-ni, @ranjgith-ni

chore(release): 3.70.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @atmgrifter00, @cameronwaterman

Notes added by 'git notes add'
  051bb7d0ccbd2865c2ab44dfb1e6506c3d45bf9f
Owners: @rajsite, @atmgrifter00, @cameronwaterman

fix(tooltips): update tooltip text for queryBy field in ResultsVariableQueryEditor
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.tsx
Owners: @richie-ni, @ranjgith-ni

fix(query-editor): set globalVariableOptions to an empty array in ResultsVariableQueryEditor
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.tsx
Owners: @richie-ni, @ranjgith-ni
