Repository ni/systemlink-grafana-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @atmgrifter00, @cameronwaterman, @CiprianAnton, @kkerezsi, @richie-ni, @ranjgith-ni, @priya-ni, @ushakanagaraj-ni

feat(results): Add variable Query editor template for Results Datasource (#183)
  src/datasources/results/ResultsDataSource.test.ts
  src/datasources/results/ResultsDataSource.ts
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.test.tsx
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.tsx
  src/datasources/results/module.ts
  src/datasources/results/query-handlers/query-results/QueryResultsDataSource.test.ts
  src/datasources/results/query-handlers/query-results/QueryResultsDataSource.ts
  src/datasources/results/types/QueryResults.types.ts
Owners: @richie-ni, @ranjgith-ni

chore(release): 3.71.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @atmgrifter00, @cameronwaterman

Notes added by 'git notes add'
  74304ae311654654864049a664b685326b36f285
Owners: @rajsite, @atmgrifter00, @cameronwaterman

feat(results): Enhance ResultsVariableQueryEditor with workspace and part number loading
  src/datasources/results/components/variable-editors/ResultsVariableQueryEditor.tsx
Owners: @richie-ni, @ranjgith-ni

query workorders data and total count
  src/datasources/work-orders/WorkOrdersDataSource.ts
  src/datasources/work-orders/types.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add tests
  src/datasources/work-orders/WorkOrdersDataSource.test.ts
  src/datasources/work-orders/__snapshots__/WorkOrdersDataSource.test.ts.snap
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

remove unecessary change
  src/core/components/SlQueryBuilder/SlQueryBuilder.test.tsx
Owners: @rajsite, @atmgrifter00, @cameronwaterman

fix test
  src/datasources/work-orders/WorkOrdersDataSource.test.ts
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add tests
  src/datasources/work-orders/components/WorkOrdersQueryEditor.test.tsx
  src/datasources/work-orders/components/query-builder/WorkOrdersQueryBuilder.test.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

feat: Add a wrapper query builder (#160)
  src/core/components/SlQueryBuilder/SlQueryBuilder.test.tsx
  src/core/components/SlQueryBuilder/SlQueryBuilder.tsx
Owners: @rajsite, @atmgrifter00, @cameronwaterman

add output type
  src/datasources/work-orders/components/WorkOrdersQueryEditor.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

add tests
  src/datasources/work-orders/components/WorkOrdersQueryEditor.test.tsx
Owners: @priya-ni, @ranjgith-ni, @ushakanagaraj-ni

chore(release): 3.72.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @atmgrifter00, @cameronwaterman

Notes added by 'git notes add'
  a85fcf962c11f1303190b9b676dfbc851b189605
Owners: @rajsite, @atmgrifter00, @cameronwaterman

.github/CODEOWNERS:

* @rajsite @atmgrifter00 @cameronwaterman

/src/datasources/asset @CiprianAnton @kkerezsi
/src/datasources/products @richie-ni @ranjgith-ni
/src/datasources/results @richie-ni @ranjgith-ni
/src/datasources/work-orders @priya-ni @ranjgith-ni @ushakanagaraj-ni
/src/datasources/test-plans @priya-ni @ranjgith-ni @ushakanagaraj-ni
