Repository ni/systemlink-grafana-plugins, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rajsite, @m-akinc, @cameronwaterman, @CiprianAnton, @kkerezsi, @saradei-ni, @richie-ni, @hemkumarrao-ni, @priya-ni, @ushakanagaraj-ni

.github/CODEOWNERS:

* @rajsite @m-akinc @cameronwaterman

/src/datasources/notebook @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/tag @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/asset @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/asset-common @CiprianAnton @kkerezsi @saradei-ni
/src/datasources/products @richie-ni @hemkumarrao-ni
/src/datasources/results @richie-ni @hemkumarrao-ni
/src/datasources/work-orders @priya-ni @hemkumarrao-ni @ushakanagaraj-ni
/src/datasources/test-plans @priya-ni @hemkumarrao-ni @ushakanagaraj-ni

tests added
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/AssetDataSource.ts
  src/datasources/asset/__snapshots__/AssetDataSource.test.ts.snap
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/defaults.ts
  src/datasources/asset/types/AssetVariableQuery.types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

updated AssetDataSource tests
  src/datasources/asset/AssetDataSource.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

added test for steps query builder changes
  src/datasources/results/components/query-builders/query-steps/StepsQueryBuilder.test.tsx
Owners: @richie-ni, @hemkumarrao-ni

Addressing PR Comments: Fixed typo in AssetDataSource test
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/AssetDataSource.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

feat(asset): add take support for query variables for ListAssets data source (#387)
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/AssetDataSource.ts
  src/datasources/asset/__snapshots__/AssetDataSource.test.ts.snap
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/defaults.ts
  src/datasources/asset/types/AssetVariableQuery.types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

chore(release): 4.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @m-akinc, @cameronwaterman

Notes added by 'git notes add'
  9cf4c405d672b11812ba144e99ff18d726151e6f
Owners: @rajsite, @m-akinc, @cameronwaterman

Simplified statement
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

inline
  src/datasources/work-orders/WorkOrdersDataSource.ts
Owners: @priya-ni, @hemkumarrao-ni, @ushakanagaraj-ni

resolved comments
  src/datasources/results/components/editors/time-range/TimeRangeControls.tsx
Owners: @richie-ni, @hemkumarrao-ni

fix(results): Update tooltip description for use time range control (#379)
  src/datasources/results/components/editors/time-range/TimeRangeControls.tsx
Owners: @richie-ni, @hemkumarrao-ni

chore(release): 4.4.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @m-akinc, @cameronwaterman

Notes added by 'git notes add'
  c9cc777eb487f4abbb66e54b207ff2f737520778
Owners: @rajsite, @m-akinc, @cameronwaterman

addressed comments
  src/core/query-builder.utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

repeated code is extracted as separate method
  src/core/query-builder.utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

updated code comment
  src/core/query-builder.utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

update reusables
  src/core/DataSourceBase.ts
  src/core/utils.ts
  src/shared/product.utils.ts
  src/shared/system.utils.ts
  src/shared/users.utils.ts
  src/shared/workspace.utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

added fix using ref based callback
  src/datasources/products/components/query-builder/ProductsQueryBuilder.test.tsx
  src/datasources/products/components/query-builder/ProductsQueryBuilder.tsx
Owners: @richie-ni, @hemkumarrao-ni

Clean-up after merge
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/constants/constants.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

Remove duplicate tests
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

add test
  src/core/DataSourceBase.ts
  src/core/utils.test.ts
  src/core/utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

fix(core): Use ref-based options for query builder callbacks (#368)
  src/core/query-builder.utils.test.ts
  src/core/query-builder.utils.ts
  src/datasources/results/components/query-builders/query-steps/StepsQueryBuilder.test.tsx
  src/datasources/results/components/query-builders/query-steps/StepsQueryBuilder.tsx
Owners: @rajsite, @m-akinc, @cameronwaterman, @richie-ni, @hemkumarrao-ni

chore(release): 4.4.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @m-akinc, @cameronwaterman

Notes added by 'git notes add'
  51a1fc135b805d830779a6e7974f51f4f047efe5
Owners: @rajsite, @m-akinc, @cameronwaterman

test
  src/core/utils.test.ts
  src/core/utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

update test
  src/core/utils.test.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

update test
  src/core/utils.test.ts
  src/shared/workspace.utils.test.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

update test
  src/core/utils.test.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

fix test
  src/core/utils.test.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

Add tests for metricFindQuery with AssetId
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/AssetDataSource.ts
  src/datasources/asset/__snapshots__/AssetDataSource.test.ts.snap
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/types/types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

fix(shared): use common fetch method for get and post API calls (#388)
  src/core/DataSourceBase.ts
  src/core/utils.test.ts
  src/core/utils.ts
  src/shared/product.utils.ts
  src/shared/system.utils.ts
  src/shared/users.utils.ts
  src/shared/workspace.utils.test.ts
  src/shared/workspace.utils.ts
Owners: @rajsite, @m-akinc, @cameronwaterman

chore(release): 4.4.3 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Owners: @rajsite, @m-akinc, @cameronwaterman

Notes added by 'git notes add'
  595a14f920dae306fef2984e5343738972108d79
Owners: @rajsite, @m-akinc, @cameronwaterman

Moved tooltips to listAssets.constants and made select constant size
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/constants/ListAssets.constants.ts
  src/datasources/asset/constants/constants.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

asset datasource properties
  src/datasources/asset/__snapshots__/AssetDataSource.test.ts.snap
  src/datasources/asset/components/AssetQueryEditor.test.ts
  src/datasources/asset/components/editors/list-assets/ListAssetsEditor.tsx
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.test.ts
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.ts
  src/datasources/asset/data-sources/list-assets/__snapshots__/ListAssetsDataSource.test.ts.snap
  src/datasources/asset/defaults.ts
  src/datasources/asset/types/ListAssets.types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

refactor(asset): Update datasource query value configuration (#382)
  src/datasources/asset/AssetDataSource.test.ts
  src/datasources/asset/AssetDataSource.ts
  src/datasources/asset/__snapshots__/AssetDataSource.test.ts.snap
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.test.tsx
  src/datasources/asset/components/variable-editor/AssetVariableQueryEditor.tsx
  src/datasources/asset/constants/ListAssets.constants.ts
  src/datasources/asset/types/types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

Fixed typo
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.ts
  src/datasources/asset/types/ListAssets.types.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

Addressing PR comments: Suggested changes were added
  src/datasources/asset/data-sources/list-assets/ListAssetsDataSource.ts
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

Added tests for ListAssetsEditor
  src/datasources/asset/components/editors/list-assets/ListAssetsEditor.test.tsx
Owners: @CiprianAnton, @kkerezsi, @saradei-ni

Added new line at the end of ListAssetsEditor.test.tsx
  src/datasources/asset/components/editors/list-assets/ListAssetsEditor.test.tsx
Owners: @CiprianAnton, @kkerezsi, @saradei-ni
